OPEN_AI_KEY=<OPEN_AI_KEY>
MINIO_HOST=minio
MINIO_PORT=9000
MINIO_ACCESS_KEY=drm-document-service
MINIO_SECRET_KEY=drm-document-service-secret-key
QDRANT_HOST=qdrant
QDRANT_PORT=6333
SERVICE_PORT=8000
SERVICE_HOST=0.0.0.0
LOG_LEVEL=DEBUG
MAX_RETRIEVAL_RESULTS=3
MAX_DOCUMENT_TEXT_LENGTH=3000
